<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Bam!</title>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

</body>
</html>