<phpunit backupGlobals="true" bootstrap="./bootstrap.php">
	<testsuites>
		<testsuite name="Test of phpunit">
			<directory>../tests</directory>
		</testsuite>
	</testsuites>
  	<filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
            <exclude>
                <directory>../tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>