{% extends "@User/full-page-skeleton.twig" %}

{% block content %}
<div class="panel panel-primary">
	<form action="/users/passwordresetrequest" method="post" class="form-horizontal" style="margin-bottom: 0px !important;">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Password Reset Request</h4>
			<p>Provide your username to trigger a password reset request for your account. An e-mail will be submitted to your mailbox requiring your action to confirm the request.</p>
			{% if request.targetUrl %}<input type="hidden" value="{{ request.targetUrl }}" name="target_url" />{% endif %}
			<div class="form-group">
				<div class="col-sm-12">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" name="username" id="username" placeholder="Username">
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="pull-left">
				<a href="/users/login" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to login</a>
			</div>
			<div class="pull-right">
			     <button type="submit" class="btn btn-success">Next <i class="fa fa-arrow-right"></i></button>
			</div>
		</div>
	</form>
</div><!-- /.panel -->
{% endblock content %}